@font-face {
    font-family: 'Edo SZ';
    src: ('edosz.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-image: url(img/forest.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
    font-family: 'Edo SZ';
}

header {
    color: white;
    height: 150px;
    width: 100%;
    top: 0px;
}


/*logo*/

#jr {
    height: 134%;
    margin-top: 20px;
    margin-left: 28px;
}


/* menu-burger */

#bouton-burger {
    position: absolute;
    left: 5px;
    top: 24px;
    z-index: 20;
    cursor: pointer;
    display: none;
}

#bouton-burger .barre-burger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin-top: 3px;
}

#menu-burger {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 75px 50px 50px 50px;
    background-color: #E3B23C;
    width: 10%;
    border-radius: 0 25% 25% 0;
    display: none;
}

.burger {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: none;
}

.burger a {
    color: #848C8E;
    font-family: 'Edo SZ';
    font-size: 26px;
    margin: 30px 0;
    text-decoration: none;
}

#hidden-burger {
    display: none;
}

nav>ul li:hover #hidden-burger {
    display: block;
    color: #848C8E;
}

#hidden-burger li {
    margin-top: 20px;
    list-style-type: none;
}

#hidden-burger li a {
    font-size: 20px;
}


/* barre de navigation */

.navbar {
    display: flex;
    flex-direction: row;
    height: 97px;
}

.navbar nav {
    width: 100%;
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-top: 92px;
    margin-right: 11%;
}

.menu {
    animation: animate 2s ease-in-out infinite alternate;
}

@keyframes animate {
    from {
        text-shadow: 0 0 6px white, 0 0 15px white, 0 0 12px #848C8E, 0 0 21px #848C8E, 0 0 25px #E3B23C, 0 0 30px #E3B23C;
    }
    to {
        text-shadow: 0 0 6px white, 0 0 5px white, 0 0 5px #848C8E, 0 0 10px #848C8E, 0 0 10px #E3B23C, 0 0 15px #E3B23C;
    }
}

.navbar nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'Edo SZ';
    font-size: 26px;
    height: 51px;
}

.navbar nav ul::after {
    content: "";
    display: table;
    clear: both;
    height: 51px;
}

.navbar nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
}

.navbar nav li:hover {
    border: 1px solid #848C8E;
    border-radius: 10px;
}

.navbar nav a:hover {
    color: #E3B23C;
}


/*menu déroulant*/

#hidden {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: #E3B23C;
    height: 150px;
    width: 100%;
    margin-top: 0;
    opacity: 0.6;
    border-radius: 10px;
}

nav>ul li:hover #hidden {
    display: block;
    color: black;
}

#hidden li {
    float: none;
    width: 100%;
    text-align: center;
    border: none;
}

#hidden li a {
    color: black;
    animation: none;
}

#hidden li a:hover {
    border-bottom: 2px solid #848C8E;
}


/*réseaux sociaux*/

#réseaux {
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

#réseaux li {
    list-style: none;
}

#réseaux li a {
    display: block;
    text-align: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    padding: 6px;
    border-radius: 50%;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(132, 140, 142, 0.7);
    background-color: #ddd;
    transition: .5s;
}

#réseaux li a:hover {
    box-shadow: 0 5px 10px rgba(227, 178, 60, 1);
    background: linear-gradient(0deg, black, #fff);
}

#réseaux li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: 30px;
    font-size: 16px;
    color: black;
    transition: .5s;
}

#réseaux li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

#réseaux li:nth-child(2) a:hover .fab {
    color: #00aced;
}

#réseaux li:nth-child(3) a:hover .fab {
    color: #bc2a8d;
}

#réseaux li:nth-child(4) a:hover .fab {
    color: #007bb6;
}


/* formulaire */

form {
    margin: 0 auto;
    width: 600px;
    padding: 3em;
    border-radius: 1em;
}

form div+div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 80px;
    text-align: left;
    color: white;
    font-size: 120%;
    padding: 20px;
}

#subject {
    margin-left: 15px;
    width: 530px;
    padding: 10px;
}

input,
textarea {
    font-size: 1em;
    font-family: cursive;
    width: 500px;
    border: 1px solid #999;
    margin-left: 1em;
    border-radius: 5px;
    padding: 10px;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    font-family: cursive;
    font-weight: bold;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    cursor: pointer;
    float: right;
    margin-right: 45px;
    margin-bottom: 10px;
}


/* Textes au dessus du formulaire */

.coordonnées {
    margin-top: 80px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.233);
    padding-bottom: 30px;
}

.coordonnées h1 {
    padding-top: 40px;
    color: white;
}

.coordonnées p {
    padding: 10px;
    font-size: 120%;
    color: white;
}


/*footer*/

footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.sheep-logo {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px black;
    display: flex;
    justify-content: left;
    margin: 8px 0px 0px 8px;
}

.top {
    font-size: 45px;
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: 18%;
    margin-top: 20px;
    margin-bottom: 35px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.copyright {
    display: flex;
    justify-content: right;
    margin: 37px 5px 0px 0px;
    font-size: 17px;
    color: white;
}